__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
.env
.venv/
env/
Aoi_movie/
datasets/
results/
file/
logs/
result/
tempo/
SEM_data/
original_data/
MyWork/datasets/
MyWork/datasets_OCM/
MyWork/datasets_CO2_CxOH/
MyWork/MyHealthData/
*.log