
numpy
pandas
matplotlib
scipy
openpyxl
scikit-learn
boruta
matminer
shap
xgboost
lightgbm
dcekit
deap
borutashap
feature-engine
featuretools
tpot
autofeat
pyarrow
setuptools
optuna
openfe
seaborn
threadpoolctl
pycalphad
ipykernel
PyQt5
imodels
tabpfn
tabpfn-client
tabpfn-extensions[all]
hyperopt
pymoo
python-pptx
amplify
cupy-cuda12x
schedule
playwright